<div class="search-box-div">
  <label for="search-box-input">&nbsp;&nbsp;&nbsp;Search Country: </label>
  <br>
<input type="text" (keyup)="onKeyUp(country.value)" #country id="search-box-input" >
<ng-template [ngIf]="foundResult">
  <div class="type-head">  
  <div *ngFor="let country of countries" class="type-head-cell">
    <div (click)="onTypeHeadClicked(country)">{{ country.name }} - {{ country.alpha3Code }}</div>
  </div>
</div>
</ng-template>
</div>
<div class="history-div">
    <app-search-history></app-search-history>
  </div>
<div class="country-info-div">
  <app-country-information></app-country-information>
</div>


